body {
	background-color: #BEB7A4;

}

h1 {
	color:  #191716;
	text-align:  center;
	font-family: "Didot", serif;
	font-size: 60px;
}

p, li, a {
	font-family: "Avenir", sans-serif;
	font-size:  18px;
}

li {
	display: inline-block;
	list-style:  none;
	float: left;
	padding: 40px;
	margin-left: 40px;
}

img {
	border-color: #191716;
	border-width: 5px;
	border-style: solid;
	border-radius: 10%;
}
.center {
	display:  block;
	width:  60%;
	margin-left: auto;
	margin-right: auto;
}

a:hover {
	color: #3D348B;
}

